<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tic.tac.toe">
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrerokRider"
        android:usesCleartextTraffic="true">
        <activity
            android:name="tic.tac.toe.SettingsActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="tic.tac.toe.AiGameActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.AiChooseSymbolActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.AIGetPlayerNameActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.OfflineGameActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.ChooseSymbolActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.OfflineGetPlayersNamesActivity"
            android:exported="true" />
        <activity
            android:name="tic.tac.toe.OfflineGameMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>